<div class="row">
  <div class="col-md-6">
    <h1>Registrar</h1>
    <form>
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" ng-model="nameReg">
        <p class="help-block">Introduzca el nombre.</p>
      </div>
      <div class="form-group">
        <label for="surname">Apellido</label>
        <input type="text" class="form-control" id="surname" ng-model="surameReg">
        <p class="help-block">Introduzca el apellido.</p>
      </div>
      <div class="form-group">
        <label for="mail">email</label>
        <input type="email" class="form-control" id="email" ng-model="mailReg">
        <p class="help-block">Introduzca el mail.</p>
      </div>
      <div class="form-group">
        <label for="pass">Contraseña</label>
        <input type="password" class="form-control" id="pass" ng-model="passReg">
        <p class="help-block">Introduzca la contraseña.</p>
      </div>
      <!--button type="button"class="btn btn-default" ng-click="cleanForm">Limpiar</button-->
      <button type="button" class="btn btn-primary" ng-click="register()">Registrar</button>

      <div ng-class="class" ng-model="class" role="alert" style="margin-top:1em;">
        {{data.menssage}}
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h1>login</h1>
    <form>
      <div class="form-group">
        <label for="mail">email</label>
        <input type="email" class="form-control" id="mail" ng-model="mailLogin">
        <p class="help-block">Introduzca el email.</p>
      </div>
      <div class="form-group">
        <label for="pass">Contraseña</label>
        <input type="password" class="form-control" id="pass" ng-model="passLogin">
        <p class="help-block">Introduzca la contraseña.</p>
      </div>
      <button type="button" class="btn btn-primary" ng-click="login()">Entrar</button>
    </form>
  </div>
</div>
